<h1>Editing Book</h1>

<%= frozen_string_literal: true

 render "form", book: @book %>

<%= frozen_string_literal: true

 link_to "Show", @book %> |
<%= frozen_string_literal: true

 link_to "Back", books_path %>
